<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.lifesymantics.TestMapper">
    <select id="select" resultType="java.util.HashMap">
        SELECT CUST_ID AS ID
        		,CUST_NAME AS NAME 
        FROM AC_CUST
    </select>
</mapper>